/* stylelint-disable value-keyword-case */
/* too many components refer to EconSans */

/* Primary subset fonts (aA-zZ 0-9 etc). */

@font-face {
  font-display: swap;
  font-family: EconSans-primary;
  font-weight: 300;
  src:
    url('/assets/econsans-primary-subset-li.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-li.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSans-primary;
  font-style: normal;
  src:
    url('/assets/econsans-primary-subset-rg.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-rg.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSans-primary;
  font-style: italic;
  src:
    url('/assets/econsans-primary-subset-it.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-it.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSans-primary;
  font-weight: 500;
  src:
    url('/assets/econsans-primary-subset-md.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-md.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSans-primary;
  font-weight: 700;
  src:
    url('/assets/econsans-primary-subset-bd.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-bd.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifPro-primary;
  font-style: normal;
  src:
    url('/assets/milo-primary-subset-rg.woff2') format('woff2'),
    url('/assets/milo-primary-subset-rg.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifPro-primary;
  font-style: italic;
  src:
    url('/assets/milo-primary-subset-it.woff2') format('woff2'),
    url('/assets/milo-primary-subset-it.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifPro-primary;
  font-weight: 500;
  src:
    url('/assets/milo-primary-subset-md.woff2') format('woff2'),
    url('/assets/milo-primary-subset-md.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifPro-primary;
  font-weight: 700;
  src:
    url('/assets/milo-primary-subset-bd.woff2') format('woff2'),
    url('/assets/milo-primary-subset-bd.woff') format('woff');
}

/* Condensed econsans used in charts and infographics. */

@font-face {
  font-display: swap;
  font-family: EconSansCnd-primary;
  font-weight: 300;
  src:
    url('/assets/econsans-primary-subset-cd-li.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-cd-li.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSansCnd-primary;
  font-weight: normal;
  src:
    url('/assets/econsans-primary-subset-cd-rg.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-cd-rg.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSansCnd-primary;
  font-style: italic;
  font-weight: normal;
  src:
    url('/assets/econsans-primary-subset-cd-it.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-cd-it.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSansCnd-primary;
  font-weight: 500;
  src:
    url('/assets/econsans-primary-subset-cd-md.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-cd-md.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSansCnd-primary;
  font-weight: 700;
  src:
    url('/assets/econsans-primary-subset-cd-bd.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-cd-bd.woff') format('woff');
}

/* Secondary subset fonts (all other characters) */

@font-face {
  font-display: swap;
  font-family: EconSans-secondary;
  -secondaryfont-weight: 300;
  src:
    url('/assets/econsans-primary-subset-li.woff2') format('woff2'),
    url('/assets/econsans-primary-subset-li.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSans-secondary;
  -secondaryfont-style: normal;
  src:
    url('/assets/econsans-secondary-subset-rg.woff2') format('woff2'),
    url('/assets/econsans-secondary-subset-rg.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSans-secondary;
  -secondaryfont-style: italic;
  src:
    url('/assets/econsans-secondary-subset-it.woff2') format('woff2'),
    url('/assets/econsans-secondary-subset-it.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSans-secondary;
  -secondaryfont-weight: 500;
  src:
    url('/assets/econsans-secondary-subset-md.woff2') format('woff2'),
    url('/assets/econsans-secondary-subset-md.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSans-secondary;
  -secondaryfont-weight: 700;
  src:
    url('/assets/econsans-secondary-subset-bd.woff2') format('woff2'),
    url('/assets/econsans-secondary-subset-bd.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifPro-secondary;
  font-style: normal;
  src:
    url('/assets/milo-secondary-subset-rg.woff2') format('woff2'),
    url('/assets/milo-secondary-subset-rg.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifPro-secondary;
  font-style: italic;
  src:
    url('/assets/milo-secondary-subset-it.woff2') format('woff2'),
    url('/assets/milo-secondary-subset-it.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifPro-secondary;
  font-weight: 500;
  src:
    url('/assets/milo-secondary-subset-md.woff2') format('woff2'),
    url('/assets/milo-secondary-subset-md.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifPro-secondary;
  font-weight: 700;
  src:
    url('/assets/milo-secondary-subset-bd.woff2') format('woff2'),
    url('/assets/milo-secondary-subset-bd.woff') format('woff');
}

/* Condensed econsans used in charts and infographics. */

@font-face {
  font-display: swap;
  font-family: EconSansCnd-secondary;
  font-weight: 300;
  src:
    url('/assets/econsans-secondary-subset-cd-li.woff2') format('woff2'),
    url('/assets/econsans-secondary-subset-cd-li.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSansCnd-secondary;
  font-weight: normal;
  src:
    url('/assets/econsans-secondary-subset-cd-rg.woff2') format('woff2'),
    url('/assets/econsans-secondary-subset-cd-rg.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSansCnd-secondary;
  font-style: italic;
  font-weight: normal;
  src:
    url('/assets/econsans-secondary-subset-cd-it.woff2') format('woff2'),
    url('/assets/econsans-secondary-subset-cd-it.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSansCnd-secondary;
  font-weight: 500;
  src:
    url('/assets/econsans-secondary-subset-cd-md.woff2') format('woff2'),
    url('/assets/econsans-secondary-subset-cd-md.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: EconSansCnd-secondary;
  font-weight: 700;
  src:
    url('/assets/econsans-secondary-subset-cd-bd.woff2') format('woff2'),
    url('/assets/econsans-secondary-subset-cd-bd.woff') format('woff');
}

/* Smallcaps fonts. */

@font-face {
  font-display: swap;
  font-family: MiloSerifProSmallCaps;
  font-style: normal;
  src:
    url('/assets/milo-sc-rg.woff2') format('woff2'),
    url('/assets/milo-sc-rg.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifProSmallCaps;
  font-style: italic;
  src:
    url('/assets/milo-sc-it.woff2') format('woff2'),
    url('/assets/milo-sc-it.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifProSmallCaps;
  font-weight: 300;
  src:
    url('/assets/milo-sc-li.woff2') format('woff2'),
    url('/assets/milo-sc-li.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifProSmallCaps;
  font-weight: 500;
  src:
    url('/assets/milo-sc-md.woff2') format('woff2'),
    url('/assets/milo-sc-md.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: MiloSerifProSmallCaps;
  font-weight: 700;
  src:
    url('/assets/milo-sc-bd.woff2') format('woff2'),
    url('/assets/milo-sc-bd.woff') format('woff');
}
