/* stylelint-disable value-keyword-case */
/* too many components refer to EconSans */

@font-face {
  font-family: EconSans;
  font-weight: 300;
  src:
    url('/assets/ecosans-li.woff2') format('woff2'),
    url('/assets/ecosans-li.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: normal;
  src:
    url('/assets/ecosans-rg.woff2') format('woff2'),
    url('/assets/ecosans-rg.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-weight: 500;
  src:
    url('/assets/ecosans-md.woff2') format('woff2'),
    url('/assets/ecosans-md.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-weight: 700;
  src:
    url('/assets/ecosans-bd.woff2') format('woff2'),
    url('/assets/ecosans-bd.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: italic;
  src:
    url('/assets/ecosans-it.woff2') format('woff2'),
    url('/assets/ecosans-it.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: normal;
  src:
    url('/assets/milo-rg.woff2') format('woff2'),
    url('/assets/milo-rg.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: italic;
  src:
    url('/assets/milo-it.woff2') format('woff2'),
    url('/assets/milo-it.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-weight: 500;
  src:
    url('/assets/milo-md.woff2') format('woff2'),
    url('/assets/milo-md.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-weight: 700;
  src:
    url('/assets/milo-bd.woff2') format('woff2'),
    url('/assets/milo-bd.woff') format('woff');
}
